<a href="https://colab.research.google.com/github/AliKhyar/Data-Science-on-UFC-dataset/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
!ls

data.csv	       raw_fighter_details.csv	 sample_data
preprocessed_data.csv  raw_total_fight_data.csv  ufcdata.zip

In [88]:
#!unzip ufcdata.zip

Archive:  ufcdata.zip
replace data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [89]:
!ls

data.csv	       raw_fighter_details.csv	 sample_data
preprocessed_data.csv  raw_total_fight_data.csv  ufcdata.zip

In [0]:
import pandas as pd
import numpy as np

In [0]:
fighter_details = pd.read_csv('raw_fighter_details.csv')
fights_data = pd.read_csv('raw_total_fight_data.csv', sep=';')

In [92]:
fighter_details.head()

  fighter_name  Height    Weight Reach Stance  DOB
0   AJ Fonseca   5' 4"  145 lbs.   NaN    NaN  NaN
1  AJ Matthews  5' 11"  185 lbs.   NaN    NaN  NaN
2     AJ McKee  5' 10"  145 lbs.   NaN    NaN  NaN
3    AJ Siscoe   5' 7"  135 lbs.   NaN    NaN  NaN
4   Aalon Cruz   6' 0"  145 lbs.   NaN    NaN  NaN

In [93]:
fighter_details.tail()

          fighter_name  Height    Weight Reach    Stance           DOB
3308     Zelim Imadaev   6' 0"  170 lbs.   76"  Orthodox  Jan 25, 1995
3309      Zhang Lipeng  5' 11"  155 lbs.   71"  Southpaw  Mar 10, 1990
3310     Zoila Frausto   5' 4"  135 lbs.   NaN  Orthodox           NaN
3311        Zu Anyanwu   6' 1"  251 lbs.   77"  Orthodox  Aug 05, 1981
3312  Zubaira Tukhugov   5' 8"  145 lbs.   68"  Orthodox  Jan 15, 1991

In [94]:
fighter_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 6 columns):
fighter_name    3313 non-null object
Height          3050 non-null object
Weight          3238 non-null object
Reach           1569 non-null object
Stance          2439 non-null object
DOB             2573 non-null object
dtypes: object(6)
memory usage: 155.4+ KB

## 1 foot = 30.48 cm
## 1 inch = 2.54 cm

In [0]:
def to_cm(X):
  if X == np.NaN:
    return X
  elif len(str(X).split("'")) == 2:
    foots = float(str(X).split("'")[0].strip())
    inchs = float(str(X).split("'")[1].replace('"', '').strip())
    return foots*30.48 + inchs*2.54
  else:
    return float(str(X).split('"')[0].strip())*30.84


def to_kg(X):
  if X == np.NaN:
    return X
  else:
    lbs = float(str(X).replace("lbs.", "").strip())
    return lbs*0.45359237

In [0]:
fighter_details['Height'] = fighter_details['Height'].apply(to_cm)
fighter_details['Reach'] = fighter_details['Reach'].apply(to_cm)
fighter_details['Weight'] = fighter_details['Weight'].apply(to_kg)
fighter_details['DOB'] = pd.to_datetime(fighter_details['DOB'])

In [97]:
fighter_details.head()

  fighter_name  Height     Weight  Reach Stance DOB
0   AJ Fonseca  162.56  65.770894    NaN    NaN NaT
1  AJ Matthews  180.34  83.914588    NaN    NaN NaT
2     AJ McKee  177.80  65.770894    NaN    NaN NaT
3    AJ Siscoe  170.18  61.234970    NaN    NaN NaT
4   Aalon Cruz  182.88  65.770894    NaN    NaN NaT

In [98]:
fighter_details.tail()

          fighter_name  Height      Weight    Reach    Stance        DOB
3308     Zelim Imadaev  182.88   77.110703  2343.84  Orthodox 1995-01-25
3309      Zhang Lipeng  180.34   70.306817  2189.64  Southpaw 1990-03-10
3310     Zoila Frausto  162.56   61.234970      NaN  Orthodox        NaT
3311        Zu Anyanwu  185.42  113.851685  2374.68  Orthodox 1981-08-05
3312  Zubaira Tukhugov  172.72   65.770894  2097.12  Orthodox 1991-01-15

In [99]:
fights_data.head()

              R_fighter  ...                Winner
0          Henry Cejudo  ...          Henry Cejudo
1  Valentina Shevchenko  ...  Valentina Shevchenko
2         Tony Ferguson  ...         Tony Ferguson
3         Jimmie Rivera  ...              Petr Yan
4           Tai Tuivasa  ...         Blagoy Ivanov

[5 rows x 41 columns]

In [100]:
fights_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5144 entries, 0 to 5143
Data columns (total 41 columns):
R_fighter          5144 non-null object
B_fighter          5144 non-null object
R_KD               5144 non-null int64
B_KD               5144 non-null int64
R_SIG_STR.         5144 non-null object
B_SIG_STR.         5144 non-null object
R_SIG_STR_pct      5144 non-null object
B_SIG_STR_pct      5144 non-null object
R_TOTAL_STR.       5144 non-null object
B_TOTAL_STR.       5144 non-null object
R_TD               5144 non-null object
B_TD               5144 non-null object
R_TD_pct           5144 non-null object
B_TD_pct           5144 non-null object
R_SUB_ATT          5144 non-null int64
B_SUB_ATT          5144 non-null int64
R_PASS             5144 non-null int64
B_PASS             5144 non-null int64
R_REV              5144 non-null int64
B_REV              5144 non-null int64
R_HEAD             5144 non-null object
B_HEAD             5144 non-null object
R_BODY             5144 non-null object
B_BODY             5144 non-null object
R_LEG              5144 non-null object
B_LEG              5144 non-null object
R_DISTANCE         5144 non-null object
B_DISTANCE         5144 non-null object
R_CLINCH           5144 non-null object
B_CLINCH           5144 non-null object
R_GROUND           5144 non-null object
B_GROUND           5144 non-null object
win_by             5144 non-null object
last_round         5144 non-null int64
last_round_time    5144 non-null object
Format             5144 non-null object
Referee            5121 non-null object
date               5144 non-null object
location           5144 non-null object
Fight_type         5144 non-null object
Winner             5061 non-null object
dtypes: int64(9), object(32)
memory usage: 1.6+ MB

In [101]:
fights_data['Fight_type'].value_counts()

Lightweight Bout                                                   947
Welterweight Bout                                                  915
Middleweight Bout                                                  684
Heavyweight Bout                                                   453
Light Heavyweight Bout                                             453
                                                                  ...
UFC 2 Tournament Title Bout                                          1
Ultimate Fighter 28 Women's Featherweight Tournament Title Bout      1
UFC 7 Tournament Title Bout                                          1
Ultimate Fighter 9 Lightweight Tournament Title Bout                 1
Ultimate Fighter China Welterweight Tournament Title Bout            1
Name: Fight_type, Length: 112, dtype: int64

In [102]:
fights_data.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['R_fighter', 'B_fighter', 'R_KD', 'B_KD', 'R_SIG_STR.', 'B_SIG_STR.',
       'R_SIG_STR_pct', 'B_SIG_STR_pct', 'R_TOTAL_STR.', 'B_TOTAL_STR.',
       'R_TD', 'B_TD', 'R_TD_pct', 'B_TD_pct', 'R_SUB_ATT', 'B_SUB_ATT',
       'R_PASS', 'B_PASS', 'R_REV', 'B_REV', 'R_HEAD', 'B_HEAD', 'R_BODY',
       'B_BODY', 'R_LEG', 'B_LEG', 'R_DISTANCE', 'B_DISTANCE', 'R_CLINCH',
       'B_CLINCH', 'R_GROUND', 'B_GROUND', 'win_by', 'last_round',
       'last_round_time', 'Format', 'Referee', 'date', 'location',
       'Fight_type', 'Winner'],
      dtype='object')>

In [0]:
cols = ['R_SIG_STR.', 'B_SIG_STR.', 'R_TOTAL_STR.', 'B_TOTAL_STR.',
       'R_TD', 'B_TD', 'R_HEAD', 'B_HEAD', 'R_BODY','B_BODY', 'R_LEG', 'B_LEG', 
        'R_DISTANCE', 'B_DISTANCE', 'R_CLINCH','B_CLINCH', 'R_GROUND', 'B_GROUND']

In [0]:
# split attempted strikes and landed strikes

attemp = '_attempted'
landed = '_landed'

for col in cols:
    fights_data[col+attemp] = fights_data[col].apply(lambda X: int(X.split('of')[1]))
    fights_data[col+landed] = fights_data[col].apply(lambda X: int(X.split('of')[0]))
    
fights_data.drop(cols, axis=1, inplace=True)

In [105]:
fights_data.head()

              R_fighter       B_fighter  ...  B_GROUND_att  B_GROUND_landed
0          Henry Cejudo   Marlon Moraes  ...             1                1
1  Valentina Shevchenko     Jessica Eye  ...             0                0
2         Tony Ferguson  Donald Cerrone  ...             0                0
3         Jimmie Rivera        Petr Yan  ...            10                4
4           Tai Tuivasa   Blagoy Ivanov  ...             6                6

[5 rows x 59 columns]

In [106]:
fights_data.tail()

           R_fighter      B_fighter  ...  B_GROUND_att  B_GROUND_landed
5139  Gerard Gordeau   Kevin Rosier  ...             0                0
5140    Ken Shamrock  Patrick Smith  ...             6                2
5141    Royce Gracie  Art Jimmerson  ...             0                0
5142    Kevin Rosier   Zane Frazier  ...             2                2
5143  Gerard Gordeau     Teila Tuli  ...             0                0

[5 rows x 59 columns]

In [0]:
# percentages to fractions

cols = ['R_SIG_STR_pct','B_SIG_STR_pct', 'R_TD_pct', 'B_TD_pct']

for col in cols:
    fights_data[col] = fights_data[col].apply(lambda X: float(X.replace('%', ''))/100)

In [108]:
fights_data.head()

              R_fighter       B_fighter  ...  B_GROUND_att  B_GROUND_landed
0          Henry Cejudo   Marlon Moraes  ...             1                1
1  Valentina Shevchenko     Jessica Eye  ...             0                0
2         Tony Ferguson  Donald Cerrone  ...             0                0
3         Jimmie Rivera        Petr Yan  ...            10                4
4           Tai Tuivasa   Blagoy Ivanov  ...             6                6

[5 rows x 59 columns]

In [109]:
fights_data['Fight_type'].value_counts()

Lightweight Bout                                                   947
Welterweight Bout                                                  915
Middleweight Bout                                                  684
Heavyweight Bout                                                   453
Light Heavyweight Bout                                             453
                                                                  ...
UFC 2 Tournament Title Bout                                          1
Ultimate Fighter 28 Women's Featherweight Tournament Title Bout      1
UFC 7 Tournament Title Bout                                          1
Ultimate Fighter 9 Lightweight Tournament Title Bout                 1
Ultimate Fighter China Welterweight Tournament Title Bout            1
Name: Fight_type, Length: 112, dtype: int64

In [0]:
def fight_type(X):
  weight_classes = ['Women\'s Strawweight', 'Women\'s Bantamweight', 
                  'Women\'s Featherweight', 'Women\'s Flyweight', 'Lightweight', 
                  'Welterweight', 'Middleweight','Light Heavyweight', 
                  'Heavyweight', 'Featherweight','Bantamweight', 'Flyweight', 'Open Weight']
  for Division in weight_classes:
      if Division in X:
        return Division
  if X == 'Catch Weight Bout' or 'Catchweight Bout':
    return 'Catch Weight'
  else:
    return 'Open Weight'

In [0]:
fights_data['Fight_type'] = fights_data['Fight_type'].apply(fight_type)

In [115]:
fights_data['Fight_type'].value_counts()

Lightweight              989
Welterweight             969
Middleweight             725
Heavyweight              507
Light Heavyweight        502
Featherweight            442
Bantamweight             379
Flyweight                187
Women's Strawweight      143
Women's Bantamweight     111
Open Weight               92
Women's Flyweight         50
Catch Weight              38
Women's Featherweight     10
Name: Fight_type, dtype: int64

In [0]:
def get_rounds(X):
    if X == 'No Time Limit':
        return 1
    else:
        return len(X.split('(')[1].replace(')', '').split('-'))

fights_data['nb_of_rounds'] = fights_data['Format'].apply(get_rounds)

In [118]:
fights_data['nb_of_rounds'].value_counts()

3    4523
5     423
2      98
1      78
4      22
Name: nb_of_rounds, dtype: int64